<configuration shutdownHook="false">
    <conversionRule conversionWord="levelColor"
                    converterClass="org.example.LogLevelColorConverter"
    />

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="CONSOLE_DETAILED" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %levelColor(%-5level) [%thread] %boldWhite(%logger{36}) | %msg%n%ex</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_INFO" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %levelColor(%-5level) %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.web3j" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="CONSOLE_DETAILED"/>
        <appender-ref ref="CONSOLE_INFO"/>
    </root>

</configuration>